ci:
  autoupdate_schedule: monthly

# cf https://pre-commit.com/#regular-expressions
exclude: |
  (?x)^(
      tests/templates/invalid.txt|
      scripts/django_tests_use_rusty_templates.patch
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-byte-order-marker
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: aad66557af3b56ba6d4d69cd1b6cba87cef50cbb  # frozen: v0.14.3
    hooks:
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
  - repo: https://github.com/AndrejOrsula/pre-commit-cargo
    rev: dea2de902af82db3de7418a1fcd1b0042418885f # frozen: 0.4.0
    hooks:
      - id: cargo-fmt
      - id: cargo-clippy
        args: [ "--all-targets", "--all-features", " --fix" ]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 6a3b6bf1868b70929458f1d4aa0a08c647b3ad45  # frozen: 0.9.7
    hooks:
      - id: uv-lock
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: bbd57e2e77d04e39722d2976d5d6bfa227f101e8  # frozen: v1.16.2
    hooks:
      - id: zizmor
  - repo: https://github.com/crate-ci/typos
    rev: b04a3e939a8f2800a1dc330d7e569e7557879d41  # frozen: v1
    hooks:
      - id: typos
